# Ambiente de Execucao (development, testing, production)
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080

# Banco de Dados (PostgreSQL)
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=utfprarena
DB_USERNAME=utfpr
DB_PASSWORD=arena_secret

# Configuracoes de JWT
JWT_SECRET=super_secret_jwt_key_change_me_in_production
JWT_EXPIRATION=86400
