parameters:
    level: 6
    paths:
        - src
        - tests
        - public
    excludePaths:
        - vendor/*
        - tests/_support/*
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
